<% include_stylesheet "/stylesheets/forum" %>

<div id="forum_topic_show">
<h2>Topic</h2>
  <div class="forum_topic_name">
    <h3><%= @forum_topic.title %></h3>
  </div>
  <br />
  <br />
  <h2>Posts</h2>
  <div id="forum_posts"
  <% for forum_post in @forum_topic.forum_posts %>
    <%= render :partial => "member/forum_posts/forum_post", :object => forum_post %>
  <% end %>
  </div>
</div>
<% if current_user %>
  <% content_for :sidebar do %>
    <div id="forum_post_form_div">
      <%= render :partial => "member/forum_posts/forum_post_form" %>
    </div>
  <% end %>
<% end %>
