<% include_stylesheet "/stylesheets/forum" %>

<div id="forum_show">
  <h2>Forum</h2>
  <div class="forum_name">
    <%= @forum.name %>
  </div>
  <div class="forum_description">
    <%= @forum.description %>
  </div>
  <br />
  <br />
  <h2>Topics</h2>
  <div id="forum_topics">
    <% for topic in @forum.forum_topics %>
      <%= render :partial => "/member/forum_topics/forum_topic", :object => topic %>
    <% end %>
  </div>
</div>
<% if current_user %>
  <% content_for :sidebar do %>
  <div id="forum_topic_form_div">
    <%= render :partial => "/member/forum_topics/forum_topic_form" %>
  </div>
  <% end %>
<% end %>
